<%- include('../partials/head')%>



    <div class="body">
        <div class="container">

            <h1 class="h1">How do you feel today?</h1>
            <a class="newComment" href="/comments/new">New Comment</a>
            <div class="card">
                <% for(let c of comments) {%>
                    <div class="card-header">
                        <b>
                            <%= c.username%>
                        </b> said:
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <%= c.comment%>
                        </p>
                        <a href="/comments/<%= c.id%>" class="btn">Details</a>
                    </div>
                    <%}%>
            </div>
            <a class="newComment" href="/comments/new">New Comment</a>
        </div>
    </div>
    </body>

    </html>