<%- include('../partials/head')%>


    <div class="body">
        <div class="container">

            <h1 class="h1">Make a new comment</h1>
            <form action="/comments" method="POST">
                <section>
                    <label class="form-label" for="username">Enter username:</label>
                    <input class="form-control" type="text" id="username" placeholder="username" name="username">
                </section>
                <section>
                    <label class="form-label" for="comment">Comment text</label>
                    <textarea class="form-control" name="comment" id="comment" cols="100" rows="5"></textarea>
                </section>
                <button class="btn">Submit</button>
            </form>
            <a class="newComment" href="/comments">All Comments</a>
        </div>
    </div>
    </body>

    </html>